html, body {
  height: 100%;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overscroll-behavior: none;
  overflow-y: hidden;
  text-align: center;
  cursor: default;
  color: #000000;
}

body {
  font-weight: 100;
  padding: 0 20px;
}

header{
  margin: 50px 0 0 0 
}

#root{
  margin:50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#score__container {
  margin:50px auto;
}
#score__board{
  width: 800px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.frame{
  height: 100%;
  width: 85px;
  border: 1px solid black;
  box-sizing: border-box;
}

.frame__num{
  border-bottom: 1px solid black;
  margin: 10px 0 0 0;
  padding: 5px 0
}

.frame__scores{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content:end;
}

.roll{
  border-bottom: 1px solid black;
  border-left: 1px solid black
}
.tl_normal{
  grid-column: 2/3;
}

.tr_normal{
  grid-column: 3/4;
}

.tl_extra{
  grid-column: 1/2;
  border-left: none;
}

.tc_extra{
  grid-column: 2/3;
}

.tr_extra{
  grid-column: 3/4
}

.score__total{
  grid-column: 1 /4;
  margin: 10px 0
}

#pins__container{
  margin: 50px 0
}

.pins__btn{
  height: 90px;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
  color: red
}

.pins__btn:focus {
  outline: none;
}